In [1]:
pip install --upgrade google-api-python-client

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: google-api-python-client in /usr/local/lib/python3.8/dist-packages (2.70.0)
Collecting google-api-python-client
  Downloading google_api_python_client-2.71.0-py2.py3-none-any.whl (10.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 64.1 MB/s eta 0:00:00
Requirement already satisfied: httplib2<1dev,>=0.15.0 in /usr/local/lib/python3.8/dist-packages (from google-api-python-client) (0.17.4)
Requirement already satisfied: google-auth-httplib2>=0.1.0 in /usr/local/lib/python3.8/dist-packages (from google-api-python-client) (0.1.0)
Requirement already satisfied: google-auth<3.0.0dev,>=1.19.0 in /usr/local/lib/python3.8/dist-packages (from google-api-python-client) (2.15.0)
Requirement already satisfied: uritemplate<5,>=3.0.1 in /usr/local/lib/python3.8/dist-packages (from google-api-python-client) (4.1.1)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /usr/local/lib/python3.8/dist-packages (from google-api-python-client) (2.11.0)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in /usr/local/lib/python3.8/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (1.57.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in /usr/local/lib/python3.8/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (3.19.6)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /usr/local/lib/python3.8/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (2.25.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (5.2.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.8/dist-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (1.15.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (4.9)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.8/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (0.4.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (4.0.0)
Installing collected packages: google-api-python-client
  Attempting uninstall: google-api-python-client
    Found existing installation: google-api-python-client 2.70.0
    Uninstalling google-api-python-client-2.70.0:
      Successfully uninstalled google-api-python-client-2.70.0
Successfully installed google-api-python-client-2.71.0

In [2]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
from googleapiclient.discovery import build
import pandas as pd
import seaborn as sns

In [4]:
api_key = 'AIzaSyCcxfMPcBjVA0mritWBV6pcblWrDMBIcRs'

channel_ids = ["UCz4a7agVFr1TxU-mpAP8hkw" # Soch by Mohak Mangal
               ]

youtube = build('youtube', 'v3', developerKey=api_key)

In [5]:
def get_channel_stats(youtube, channel_ids):
    all_data = []
    request = youtube.channels().list(
                part='snippet,contentDetails,statistics',
                id=','.join(channel_ids))
    response = request.execute() 
    
    for i in range(len(response['items'])):
        data = dict(Channel_name = response['items'][i]['snippet']['title'],
                    Subscribers = response['items'][i]['statistics']['subscriberCount'],
                    Views = response['items'][i]['statistics']['viewCount'],
                    Total_videos = response['items'][i]['statistics']['videoCount'],
                    playlist_id = response['items'][i]['contentDetails']['relatedPlaylists']['uploads'])
        all_data.append(data)
    
    return all_data

In [6]:
channel_statistics = get_channel_stats(youtube, channel_ids)

In [7]:
channel_data = pd.DataFrame(channel_statistics)

In [8]:
channel_data

,Channel_name,Subscribers,Views,Total_videos,playlist_id
0,Soch by Mohak Mangal,1910000,245285104,292,UUz4a7agVFr1TxU-mpAP8hkw

In [9]:
playlist_id = channel_data.loc[0, 'playlist_id']

In [10]:
playlist_id

'UUz4a7agVFr1TxU-mpAP8hkw'

In [44]:
def get_video_ids(youtube, playlist_id):
    
    request = youtube.playlistItems().list(
                part='contentDetails',
                playlistId = playlist_id,
                maxResults = 50)
    response = request.execute()
    
    video_ids = []
    
    for i in range(len(response['items'])):
        video_ids.append(response['items'][i]['contentDetails']['videoId'])
        
    next_page_token = response.get('nextPageToken')
    more_pages = True
    
    while more_pages:
        if next_page_token is None:
            more_pages = False
        else:
            request = youtube.playlistItems().list(
                        part='contentDetails',
                        playlistId = playlist_id,
                        maxResults = 50,
                        pageToken = next_page_token)
            response = request.execute()
    
            for i in range(len(response['items'])):
                video_ids.append(response['items'][i]['contentDetails']['videoId'])
            
            next_page_token = response.get('nextPageToken')
        
    return video_ids

In [12]:
video_ids = get_video_ids(youtube, playlist_id)

In [57]:
def get_video_details(youtube, video_ids):
    all_video_stats = []
    
    for i in range(0, len(video_ids), 50):
        request = youtube.videos().list(
                    part='snippet,statistics',
                    id=','.join(video_ids[i:i+50]))
        response = request.execute()
        #return response
        
        for video in response['items']:
            video_stats = dict(Title = video['snippet']['title'],
                               Published_date = video['snippet']['publishedAt'],
                               Views = video['statistics']['viewCount'],
                               Likes = video['statistics']['likeCount'],
                               Comments = video['statistics']['commentCount']
                               )
            all_video_stats.append(video_stats)
    
    return all_video_stats

In [58]:
video_details = get_video_details(youtube, video_ids)

In [59]:
video_data = pd.DataFrame(video_details)

In [62]:
video_data['Published_date'] = pd.to_datetime(video_data['Published_date']).dt.date
video_data['month_Published_at'] = pd.to_datetime(video_data['Published_date']).dt.strftime('%b')
video_data['Views'] = pd.to_numeric(video_data['Views'])
video_data['Likes'] = pd.to_numeric(video_data['Likes'])
video_data['Views'] = pd.to_numeric(video_data['Views'])
video_data

,Title,Published_date,Views,Likes,Comments,month_Published_at
0,Why are chips so addictive?,2023-01-08,260213,37944,440,Jan
1,How this DM changed the people of Gopalganj,2023-01-08,592674,96791,568,Jan
2,Why do Lingayats bury the dead?,2023-01-08,397676,50732,1010,Jan
3,The Truth About Bihar's Education Crisis,2023-01-07,661209,35715,3148,Jan
4,Why do Indians give up their Indian citizenship?,2023-01-04,2781015,256958,3832,Jan
...,...,...,...,...,...,...
287,"Being Gay, Lesbian, Or Other Sexualities in In...",2018-08-30,595021,30892,3054,Aug
288,Asaram Bapu to Ram Rahim: Harsh reality of Ind...,2018-08-20,326315,17236,1222,Aug
289,The Dark Reality of Unemployment in India,2018-07-16,512138,36972,3640,Jul
290,Kisan March: Why are Indian farmers committing...,2018-06-07,45943,2658,203,Jun
291,"Fake News over WhatsApp in India, explained",2018-05-02,104742,5797,404,May

In [63]:
video_data=video_data[["Title","Published_date","month_Published_at","Views","Likes","Comments"]]

In [64]:
video_data

,Title,Published_date,month_Published_at,Views,Likes,Comments
0,Why are chips so addictive?,2023-01-08,Jan,260213,37944,440
1,How this DM changed the people of Gopalganj,2023-01-08,Jan,592674,96791,568
2,Why do Lingayats bury the dead?,2023-01-08,Jan,397676,50732,1010
3,The Truth About Bihar's Education Crisis,2023-01-07,Jan,661209,35715,3148
4,Why do Indians give up their Indian citizenship?,2023-01-04,Jan,2781015,256958,3832
...,...,...,...,...,...,...
287,"Being Gay, Lesbian, Or Other Sexualities in In...",2018-08-30,Aug,595021,30892,3054
288,Asaram Bapu to Ram Rahim: Harsh reality of Ind...,2018-08-20,Aug,326315,17236,1222
289,The Dark Reality of Unemployment in India,2018-07-16,Jul,512138,36972,3640
290,Kisan March: Why are Indian farmers committing...,2018-06-07,Jun,45943,2658,203
291,"Fake News over WhatsApp in India, explained",2018-05-02,May,104742,5797,404

In [65]:
video_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               292 non-null    object
 1   Published_date      292 non-null    object
 2   month_Published_at  292 non-null    object
 3   Views               292 non-null    int64
 4   Likes               292 non-null    int64
 5   Comments            292 non-null    object
dtypes: int64(2), object(4)
memory usage: 13.8+ KB

In [66]:
top10_videos = video_data.sort_values(by='Views', ascending=False).head(10)
top10_videos

,Title,Published_date,month_Published_at,Views,Likes,Comments
62,"Why is China so interested in India's ""Chicken...",2022-11-03,Nov,11703302,1066016,3946
60,Why are Indians obsessed with Fair Skin?,2022-11-03,Nov,7625073,584057,3414
46,Why do Indian men hold hands?,2022-11-16,Nov,6845956,665202,3115
57,Who are the 'Devdasis'?,2022-11-06,Nov,6383687,455478,5332
27,Why was Bappi Lahiri's song viral in China?,2022-12-14,Dec,5023048,487720,872
19,Why did India give these villages to Pakistan?,2022-12-21,Dec,4444723,436654,2086
18,Why are Parsis worried about 'Vultures'?,2022-12-21,Dec,4360723,398923,1432
245,Psychology of Rapists | How Rapists Think,2019-12-08,Dec,3554065,165675,8254
132,What is wrong with Byju's?,2021-11-05,Nov,3535488,205157,15524
11,Why is dowry still practised in India?,2022-12-28,Dec,3319053,233598,2138

In [23]:
top10_Liked_videos = video_data.sort_values(by='Likes', ascending=False).head(10)
top10_Liked_videos

,Title,Published_date,month_Published_at,Views,Likes,Comments
62,"Why is China so interested in India's ""Chicken...",2022-11-03,Nov,11702864,1065958,3946
46,Why do Indian men hold hands?,2022-11-16,Nov,6845874,665191,3115
60,Why are Indians obsessed with Fair Skin?,2022-11-03,Nov,7624885,584029,3413
27,Why was Bappi Lahiri's song viral in China?,2022-12-14,Dec,5022892,487705,872
57,Who are the 'Devdasis'?,2022-11-06,Nov,6383602,455469,5332
19,Why did India give these villages to Pakistan?,2022-12-21,Dec,4443830,436508,2086
18,Why are Parsis worried about 'Vultures'?,2022-12-21,Dec,4359598,398778,1432
47,Are Indians vegetarians?,2022-11-16,Nov,3125779,316684,5215
31,Why are Tamil and Korean Languages similar?,2022-11-30,Nov,2733199,280226,2349
14,Why do Indians write their names on monuments?,2022-12-25,Dec,3003682,277042,1261

In [68]:
sort_by_date_videos = video_data.sort_values(by='Published_date', ascending=False)
sort_by_date_videos

,Title,Published_date,month_Published_at,Views,Likes,Comments
0,Why are chips so addictive?,2023-01-08,Jan,260213,37944,440
2,Why do Lingayats bury the dead?,2023-01-08,Jan,397676,50732,1010
1,How this DM changed the people of Gopalganj,2023-01-08,Jan,592674,96791,568
3,The Truth About Bihar's Education Crisis,2023-01-07,Jan,661209,35715,3148
4,Why do Indians give up their Indian citizenship?,2023-01-04,Jan,2781015,256958,3832
...,...,...,...,...,...,...
287,"Being Gay, Lesbian, Or Other Sexualities in In...",2018-08-30,Aug,595021,30892,3054
288,Asaram Bapu to Ram Rahim: Harsh reality of Ind...,2018-08-20,Aug,326315,17236,1222
289,The Dark Reality of Unemployment in India,2018-07-16,Jul,512138,36972,3640
290,Kisan March: Why are Indian farmers committing...,2018-06-07,Jun,45943,2658,203
291,"Fake News over WhatsApp in India, explained",2018-05-02,May,104742,5797,404

In [72]:
video_data.to_csv(r'C:\Users\abhis\Downloads\file2.csv', index=False)

In [50]:
def get_video_insights(youtube, video_ids):
    all_video_insights = []

    for i in range(0, len(video_ids), 50):  
      request = youtube.videos().list(
          part="snippet,contentDetails,statistics",
          id=','.join(video_ids[i:i+50]))
      response = request.execute()
    #return response
    for video in response['items']:
            video_insights = dict(Title = video['snippet']['title'],
                               Description = video['snippet']['description'],
                               Published_date = video['snippet']['publishedAt'],
                               Category = video['snippet']['tags'],
                               Views = video['statistics']['viewCount'],
                               Likes = video['statistics']['likeCount'],
                               Comments = video['statistics']['commentCount'],
                               content_Rating = video['contentDetails']['contentRating'],
                               Thumbnails = video['snippet']['thumbnails']['high']['url']
                               )
            all_video_insights.append(video_insights)
    
    return all_video_insights

In [51]:
insight_val=get_video_insights(youtube, video_ids)

In [52]:
video_insights = pd.DataFrame(insight_val)

In [53]:
video_insights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           42 non-null     object
 1   Description     42 non-null     object
 2   Published_date  42 non-null     object
 3   Category        42 non-null     object
 4   Views           42 non-null     object
 5   Likes           42 non-null     object
 6   Comments        42 non-null     object
 7   content_Rating  42 non-null     object
 8   Thumbnails      42 non-null     object
dtypes: object(9)
memory usage: 3.1+ KB

In [54]:
video_insights['Published_date'] = pd.to_datetime(video_insights['Published_date']).dt.date
video_insights['month_Published_at'] = pd.to_datetime(video_insights['Published_date']).dt.strftime('%b')
#video_insights['Duration'] = pd.to_numeric(video_insights['Duration'])
video_insights['Likes'] = pd.to_numeric(video_insights['Likes'])
video_insights['Views'] = pd.to_numeric(video_insights['Views'])
video_insights['Comments'] = pd.to_numeric(video_insights['Comments'])
#video_insights['content_Rating'] = pd.to_numeric(video_insights['content_Rating'])

In [55]:
video_insights=video_insights[["Title","Description","Published_date","month_Published_at","Category","Views","Likes","Comments","content_Rating","Thumbnails"]]#,axis=1)

In [73]:
video_insights.head()

,Title,Description,Published_date,month_Published_at,Category,Views,Likes,Comments,content_Rating,Thumbnails
0,What does Big Boss have in common with NASA’s ...,The television show Big Boss is considered a ‘...,2019-10-29,Oct,"[Salman Khan, Big Boss, Space, Mars, Nasa, Man...",104321,6744,437,{},https://i.ytimg.com/vi/bcnl_PbNZzg/hqdefault.jpg
1,Kabir Singh & Joker: DANGEROUS Movies?,Warning: Video has movie spoilers. The two mov...,2019-10-20,Oct,"[Ban, Joker, Kabir Singh, Movie, bollywood mov...",549433,30503,2444,{},https://i.ytimg.com/vi/cdMAOj9EB3c/hqdefault.jpg
2,What explains India's strange celebrity bhakti...,Indians are obsessed with celebrities. Rajinik...,2019-10-07,Oct,"[Bollywood, India, Celebrity]",249337,18296,1477,{},https://i.ytimg.com/vi/ZEL2hJDW_Fc/hqdefault.jpg
3,The love-hate relationship of PM Modi with the...,PM Modi has left no stone unturned to commemor...,2019-10-02,Oct,"[Gandhi, 150th birthday]",142744,10896,1266,{},https://i.ytimg.com/vi/BBtta6iifSs/hqdefault.jpg
4,The science behind why we don’t feel the pain ...,A country that has been through many state exc...,2019-09-30,Sep,"[Kashmir, India, violence in kashmir, india in...",97636,9408,1425,{},https://i.ytimg.com/vi/p4WSdQQkcrY/hqdefault.jpg

In [31]:

top10_videos = video_insights.sort_values(by='Views', ascending=False).head(10)
top10_videos

,Title,Description,Published_date,month_Published_at,Category,Views,Likes,Comments,content_Rating,Thumbnails
32,Gora gora rang: Why do Indians love fair skin ...,"Indians have long been obsessed with white, fa...",2018-10-27,Oct,"[india fair skin, whitening skin, fair skin, w...",1738986,75874,7538,{},https://i.ytimg.com/vi/4nkRlP2NnuY/hqdefault.jpg
16,North vs South: Why are some South Indians ang...,Not many would have expected Narendra Modi to ...,2019-06-04,Jun,"[South India, Modi, Tamil Nadu, Hindi, Stop Hi...",1368798,54007,24340,{},https://i.ytimg.com/vi/1CprocZneck/hqdefault.jpg
30,Why is Indian Media the Way It Is?,Debates in the Indian media are embarrassing t...,2018-11-16,Nov,"[what is wrong with indian media, whats wrong ...",1251000,61309,5158,{},https://i.ytimg.com/vi/w_INVR2Sg2k/hqdefault.jpg
12,Pakistan has seen 3 military coups. India none...,"Since 1947, India and Pakistan's politics has ...",2019-07-18,Jul,"[military rule, pakistan, military, manmohan s...",908433,35792,2807,{},https://i.ytimg.com/vi/516fEZoNe7I/hqdefault.jpg
9,How BJP is Planning for a Hindu Rashtra,The BJP has made Hindu Rashtra a distinct poss...,2019-08-14,Aug,"[string hindu rashtra, modi hindu rashtra, ind...",895941,52720,13668,{},https://i.ytimg.com/vi/YbPTf0UbRFY/hqdefault.jpg
37,"Being Gay, Lesbian, Or Other Sexualities in In...",The LGBT community is one of the most discrimi...,2018-08-30,Aug,"[LGBT, India, Gay, Section 377, Homosexual, LG...",595014,30892,3054,{},https://i.ytimg.com/vi/vUXiYKJsjps/hqdefault.jpg
1,Kabir Singh & Joker: DANGEROUS Movies?,Warning: Video has movie spoilers. The two mov...,2019-10-20,Oct,"[Ban, Joker, Kabir Singh, Movie, bollywood mov...",549430,30503,2444,{},https://i.ytimg.com/vi/cdMAOj9EB3c/hqdefault.jpg
31,Superstitions Vs Science in India,Despite making significant contributions to th...,2018-11-06,Nov,"[indian superstitions, superstition, science i...",545021,36145,5136,{},https://i.ytimg.com/vi/F4wqyNW1-sY/hqdefault.jpg
35,Why is India So Unsafe for Women?,The Nirbhaya case in 2012 highlighted India’s ...,2018-09-22,Sep,"[is india safe for women, india is not safe, i...",536243,37793,4193,{},https://i.ytimg.com/vi/Z-AK4YHv358/hqdefault.jpg
39,The Dark Reality of Unemployment in India,Looking for a job? Tough luck. Besides selling...,2018-07-16,Jul,"[how to get a job india, why are so many peopl...",512137,36972,3640,{},https://i.ytimg.com/vi/NNKnlyx1HSQ/hqdefault.jpg

In [74]:
video_insights.to_csv(r'C:\Users\abhis\Downloads\file3.csv', index=False)